<html>
<br><br>
<h1 style="text-align:center ">You've successfully logged out! <br> Remember, don't budge from your budget. See you next time!</h1>
<br><br><br><br><br><br><br><br><br>


<h1 style="text-align:center; font-size: 30px; font-weight: bolder; font-family: cursive;">"It is great wealth to a soul to live frugally with a contented mind." – Lucretius</h1>
   


   <div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="https://www.vanguard.com/">Vanguard</a></li>
            <li class="list-inline-item"><a href="https://www.thepennyhoarder.com/save-money/how-to-save-money/">Money Savings Tips</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
        </ul>
        <p class="copyright">WeBudget © 2022</p>
    </footer>
</div>
</html>
