<h3>Goalolololololsss</h3>
<div class="card">
    <div class="card-body">
<form (ngSubmit) = "onSubmit()">
    <label> Create a Goal (TEST FORM)</label><br><br>
    <div class="form-group">
        <label for="saveAmount">Amount to save per month:</label><br>
        <input type="text" class="form-control" id="saveAmount" [(ngModel)]="goal.saveAmount" name="saveAmount">
    </div>

    <br>

    <div class="form-group">
        <label for="goalAmount">Goal Amount:</label><br>
        <input type="text" class="form-control" id="goalAmount" [(ngModel)]="goal.goalAmount" name="goalAmount">
    </div>

    <br>

    <div class="form-group">
        <label for="time_in_months">Time in months:</label><br>
        <input type="text" class="form-control" id="time_in_months" [(ngModel)]="goal.time_in_months" name="time_in_months">
    </div>

    <br>
    <br>
    <button class="btn btn-success" type="submit">Create</button>
</form>
</div>
</div>
<br>
<br>

<table class = "table table-striped">
    <thead>
        <tr>
           <th> Goal Id</th>
            <th> Amount to Save</th>
            <th> Goal Amount</th>
            <th> Time in months</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let goal of goals" >
            <td> {{ goal.id }}</td>
            <td > {{ goal.saveAmount }} </td>
            <td> {{ goal.goalAmount }}</td>
            <td> {{ goal.time_in_months }}</td>
            <td>
                <button (click) = "updateGoal(goal.id)" title="Update Goal" class = "btn btn-secondary" style="margin-left: 15px"> Update goal (no function yet)  </button>
                  <button (click) = "deleteGoal(goal.id)" title="Delete goal" class = "btn btn-danger" style="margin-left: 15px"> Delete goal (no function yet) </button>
                  <button (click) = "goToGoalDetails(goal.id)" title="View Goal Details" class = "btn btn-primary" style="margin-left: 15px"> View Goal Details </button>
            </td>

        </tr>

    </tbody>
<!-- Another Commment for Github -->
</table>
