<!--<br>-->
<!--<div class="row">-->
<!--    <div class="card col-md-6 offset-md-3 offset-md-3">-->
<!--       <div class="row">-->
<!--        <header>-->
<!--            <h3 style="text-align: center; color: white"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">-->
<!--                <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>-->
<!--                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>-->
<!--              </svg> Goal Details</h3>-->
<!--        </header>-->
<!--<hr>-->
<!--<div>-->
<!--    <br> -->
<!--    <div>-->
<!--        <label style="margin-left: 20px"> <b> Goal ID: </b></label> {{ticket.id}}-->
<!--        <button (click) = "updateTicket(ticket.id)" title="Update Ticket" class = "btn btn-secondary" style="position: relative; top: -10px; vertical-align: middle; float: right">Edit <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">-->
<!--            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>    -->
<!--          </svg></button>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div>-->
<!--        <label style="margin-left: 20px"> <b> Priority: </b></label> {{ticket.priority}}-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div>-->
<!--        <label style="margin-left: 20px"> <b> Timestamp: </b></label> {{ticket.timestamp}}-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div>-->
<!--        <label style="margin-left: 20px"> <b> Description: </b></label> {{ticket.description}}-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div>-->
<!--        <label style="margin-left: 20px"> <b> Solution: </b></label> {{ticket.solution}}-->
<!--    </div>-->
<!--    <br>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->