<br>
<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
       <div class="row">
        <header>
            <h3 style="text-align: center;"> Goal Details </h3>
        </header>
<div>
    <br>
    <div class="form-group" style="text-align:center">
      <button (click) = "updateGoal(this.id)" title = "Edit Goal" class = "btn btn-secondary" type="submit"> Edit </button>
    </div>
    <div>
      <!-- Swap logic -->
        <label style="margin-left: 20px"> <b> Goal Name: </b> </label> {{ goal.title }}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Saved Balance: </b></label> {{ goal.saveAmount }}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Goal Amount: </b></label> {{ goal.goalAmount }}
    </div>
    <div>
        <label style="margin-left: 20px"> <b> Save per month: </b> ${{ goal.monthlyPayment }}</label> 
        <br>
        <label style="margin-left: 20px"> <b> Yearly Total Savings: </b> ${{ this.remainingAmount }}</label> 
        <label style="margin-left: 20px"> <b> Monthly Total Savings: </b> ${{ goal.monthlyPayment }}</label> 
    </div>
    
  <br>
</div>
</div>
</div>
</div>

<br><br>
<div>
    <div>
      <div class="chart col-md-6 offset-md-3 offset-md-3" style="display: block; width: 500px; height: 400px">
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
  <!-- PieChart buttons
    // repurpose buttons for CRUD functions
  <div class="button-row">
    <button mat-button mat-raised-button color="primary" (click)="toggleLegend()">Toggle Legend</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
    <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
  </div>

  -->
