body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32
  }

.left {
    float: left
}

.right {
    float: right
}