<br>
<br>
<br>
<br>
    <div class="card left m-auto" style="height: 270px; width: 385px">
      
       <div class="row">
        
        <header>
          <div class="card" style="width: 24rem; float: center">
            <div class="card-header">
                <h2 style="text-align: center">Goal Details</h2>
            </div>
            </div>
          <br>
          <table>
            <td>
              <div>
                <!-- Swap logic -->
                  <label style="margin-left: 20px"> <b> Goal Name: </b> </label> {{ goal.title }}
              </div>
          
              <div>
                <label style="margin-left: 20px"> <b> Goal Amount: </b></label> {{ goal.goalAmount }}
            </div>
              
              <div>
                  <label style="margin-left: 20px"> <b> Saved Towards Goal: </b></label> {{ goal.saveAmount }}
              </div>
            
              <div>
                  <!-- <label style="margin-left: 20px"> <b> Yearly Total Savings: </b> ${{ this.remainingAmount }}</label>  -->
                  <label style="margin-left: 20px"> <b> Monthly Savings: </b> ${{ goal.monthlyPayment }}</label> 
              </div>
              <div>
                <label style="margin-left: 20px"> <b> Goal Duration (Months): </b></label> {{ goal.time_in_months }}
              </div>
              <div>
                <label style="margin-left: 20px"> <b> Months Left To Goal: </b></label> {{ goal.time_in_months - (goal.time_in_months * (this.goal.saveAmount / this.goal.goalAmount)) }}
            </div>

            </td>
            <td>
              <button (click) = "updateGoal(this.id)" style="position: relative; right: -100px" title = "Edit Goal" class = "btn btn-secondary" type="submit"> Edit </button>
            </td>
          </table>
        </header>
<div>
    <br>
    
    
  <br>
</div>
</div>
</div>

<div>
  <div class="card text-center m-auto center" style="width: 600px">
    <div class="card-body">
    <div>
      <div class="chart" style="display: block; width: 600px; height: 400px; ">
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
  </div>
</div>

  <!-- PieChart buttons
    // repurpose buttons for CRUD functions
  <div class="button-row">
    <button mat-button mat-raised-button color="primary" (click)="toggleLegend()">Toggle Legend</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
    <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
  </div>

  -->
