.gradient-custom-2 {

    background: linear-gradient(120deg, #030942, #8d65d6, #da4d31);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.footer-basic {
    color: rgb(136, 37, 216);
    position:absolute;
    left:0;
    right:0;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:15px;
    color: rgb(136, 37, 216);
    margin-bottom:10;
  }
  