/*body,*/
/*html {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*    background: #60a3bc !important;*/
/*}*/
/*.user_card {*/
/*    height: 500px;*/
/*    width: 600px;*/
/*    margin-top: auto;*/
/*    margin-bottom: auto;*/
/*    background: #afbfd8;*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    padding: 10px;*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    border-radius: 5px;*/

/*}*/
/*.brand_logo_container {*/
/*    position: absolute;*/
/*    height: 170px;*/
/*    width: 170px;*/
/*    top: -75px;*/
/*    border-radius: 50%;*/
/*    background: #60a3bc;*/
/*    padding: 10px;*/
/*    text-align: center;*/
/*}*/
/*.brand_logo {*/
/*    height: 150px;*/
/*    width: 150px;*/
/*    border-radius: 50%;*/
/*    border: 2px solid white;*/
/*}*/
/*.form_container {*/
/*    margin-top: 100px;*/
/*}*/
/*.login_btn {*/
/*    width: 100%;*/
/*    background: #1B4F72!important;*/
/*    color: white !important;*/
/*}*/
/*.login_btn:focus {*/
/*    box-shadow: none !important;*/
/*    outline: 0px !important;*/
/*}*/
/*.login_container {*/
/*    padding: 0 2rem;*/
/*}*/
/*.input-group-text {*/
/*    background: #1B4F72!important;*/
/*    color: white !important;*/
/*    border: 0 !important;*/
/*    border-radius: 0.25rem 0 0 0.25rem !important;*/
/*}*/
/*.input_user,*/
/*.input_pass:focus {*/
/*    box-shadow: none !important;*/
/*    outline: 0px !important;*/
/*}*/
/*.custom-checkbox .custom-control-input:checked~.custom-control-label::before {*/
/*    background-color: #1B4F72!important;*/
/*}*/

/*.main-content{*/
/*    margin: auto;*/
/*    padding-top: 50px;*/


/*}*/

.gradient-custom-2 {

    background: linear-gradient(120deg, #030942, #8d65d6, #da4d31);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
.footer-basic {
    color: rgb(136, 37, 216);
    position:absolute;
    left:0;
    right:0;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: rgb(136, 37, 216);
    margin-bottom:0;
  }
  