<section class="container-fluid gradient-form">
    <div class="container vh-100">
        <div class="row d-flex justify-content-center align-items-center main-content">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-4 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                                         style="width: 185px;" alt="logo">
                                    <h1 class="mt-1 mb-5 pb-1">We Budget</h1>
                                </div>

                             <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                                    <p>Please login to your account</p>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example11">Username</label>
                                        <input type="email" id="form2Example11" class="form-control" name="username" placeholder="Username" ngModel #usernameInput="ngModel" required />
                                        <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22">Password</label>
                                        <input type="password" id="form2Example22" class="form-control" name="password" placeholder="Password" ngModel #passwordInput="ngModel" required/>
                                        <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password.</span>

                                    </div>


                                    <div class="text-center mb-5">
                                        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 col-md-6" type="submit">Log in</button>
<!--                                        <a class="text-muted" href="#!">Forgot password?</a> -->
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <button type="button" class="btn btn-outline-danger" routerLink="/register">Create new</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h2 class="mb-4">We are more than just a company</h2>
                                <p class="small mb-0">WeBudget is a revolutionary financial application with a mission to make managing money effortless for all.

                                    We are partnering with the nation’s top financial firms to help you move forward in life and reach your own higher purpose. We take the time to learn what matters most to you and provide resources that help you put your values into action. 
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>