<section class="container-fluid">
    <div class="container vh-100" >
        <div class="row d-flex justify-content-center align-items-center main-content">
            <div class="col col-xl-9">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-credit-card fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0 ml-2">We Budget</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control" name="username" placeholder="Username" ngModel #usernameInput="ngModel" required>
                                    </div>
                                    <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter a username</span>

                                    <div class="form-outline mb-4">
                                        <input type="password" class="form-control" name="password" placeholder="Password" ngModel #passwordInput="ngModel" required>
                                    </div>
                                    <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password.</span>

                                    <div class="d-flex justify-content-center mt-3 login_container">
                                        <button type="submit" name="button" class="btn login_btn">
                                            <span >Login</span>
                                        </button>
                                    </div>

                                    <!--                <a class="small text-muted" >Forgot password?</a>-->
                                    <p class="mt-4 d-flex justify-content-center links" style="color: #393f81;">Don't have an account?
                                        <a style="color: #393f81;" routerLink="/register" class="ml-2">Register here</a></p>

                                    <!--                <a  class="small text-muted" >Terms of use.</a>-->
                                    <!--                <a  class="small text-muted">Privacy policy</a>-->
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>