
.center {
      text-align : center;
}

.floatright {

    float: right;
}

.floatcenter {
    float: center;
}

.card {
    border-radius: 25px;
    box-shadow: 1px 2px 2px 2px rgba(54, 40, 178, 0.82), 3px 3px 5px 4px rgba(182, 26, 26, 0.8);
  }