/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~font-awesome/css/font-awesome.css";

@import "~angular-notifier/styles";

html, body {
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    border-radius: 50px;    
    /* fallback for old browsers */
    background: radial-gradient(rgb(217, 217, 51), rgba(233, 156, 12, 0.71), rgb(207, 105, 105) );
  
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: blue;
    text-align: center;
    color: white;
}

