
<p>Update goal</p>
<div class="card text-center" style="width: 335px">
<div class="card-body">
    <!-- <div>
        <label>Expense Name:</label> {{ expense.expense_name }}
    </div> -->
    <br>
    <form (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label>Expense Name:</label>
            <input type="text" class="form-control" id="expense_name" [(ngModel)]="expense.expense_name"
                name="expense_name">
        </div>
        <div class="form-group">
            <label>Expense Amount:</label>
            <input type="text" class="form-control" id="amount" [(ngModel)]="expense.amount"
                name="amount">
        </div>

        <div class="form-group">
            <label>Total:</label>
            <input type="text" class="form-control" id="total" [(ngModel)]="expense.total"
                name="total">
        </div>
        <br>
        
        <br>
        <button ></button>
        
        <br>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
</div>
</div>
