
<br>
<br>
<!-- <div class="card text-center" style="width: 320px"> -->
    <div class="card" style="width: 20rem; float: center">
        
<div class="card text-center" style="width: 335px">
    <div class="card-header">
        <h2>Update Expense</h2>
    </div>
<div class="card-body">
    <!-- <div>
        <label>Expense Name:</label> {{ expense.expense_name }}
    </div> -->
    <form (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label style="float: left">Expense Name:</label>
            <input type="text" class="form-control" id="expense_name" [(ngModel)]="expense.expense_name"
                name="expense_name">
        </div>
        <br>
        <div class="form-group">
            <label style="float: left">Expense Amount:</label>
            <input type="text" class="form-control" id="amount" [(ngModel)]="expense.amount"
                name="amount">
        </div>
        <br>
        <div class="form-group left">
            <!-- <label style="float: left"><b> ${{ expense.total }}</b></label> -->
            <label type="text" style="float: left" id="remainingAmount" *ngIf="this.expense.amount != null">Yearly Total Expense: <b>${{ expense.amount * 12 }}</b></label> 
        </div>
        <br>
        
        <br>
        <button class="btn btn-outline-success" type="submit">Update</button>
    </form>
</div>
</div>
