

<br>
<br>
<!-- <div class="card text-center" style="width: 320px"> -->
    <div class="card" style="width: 20rem; float: center">
        

<div class="card text-center" style="width: 335px">
    <div class="card-header">
        <h2>Update Income</h2>
    </div>
<div class="card-body">
    <div>
        <label style="float: left"> Income: </label>
        <input type="text"  class="form-control" id="description" [(ngModel)]="income.description"
                name="description">
    </div>
    <br>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label style="float: left"> Amount:</label>
            <input type="text"  class="form-control" id="Amount" [(ngModel)]="income.amount"
                name="amount">
        </div>
        <br>
        <!-- <div class="form-group">
            <label style="float: left">Time in Months:</label>
            <input type="text" class="form-control" id=" income frequency" [(ngModel)]="income.frequency"
                name="frequency">
        </div> -->
        
        <br>
        <button class="btn btn-outline-success" type="submit">Update</button>
       </form>
    </div>

</div>