
<div class="card text-center" style="width: 335px">
<div class="card-body">
    <div>
        <h2>Update income</h2>
    </div>
    <div>
        <label> Income: <b>{{ income.description }}</b></label>
    </div>
    <br>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label> Amount:</label>
            <input type="text"  class="form-control" id="Amount" [(ngModel)]="income.amount"
                name="amount">
        </div>

        <div class="form-group">
            <label>Frequency:</label>
            <input type="text" class="form-control" id=" income frequency" [(ngModel)]="income.frequency"
                name="frequency">
        </div>

        <br>
        
        <br>
        <button class="btn btn-success" type="submit">Update</button>
       </form>
    </div>

</div>