div {
  text-align: center;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.center {
  display: block;
  max-width: 1300px;
}

/* .card {
  box-shadow: 0 0 0 1rem  rgb(136, 37, 216);

} */