
<div class="row">

    <div class="card text-center m-auto" style="width: 345px">
        <div class="card-body">
            <form (ngSubmit) = "onSubmitIncome()" style="width: 300px" class="justify-content-center">
                <label> Create an Income </label><br><br>
                <div class="form-group">
                    <label >Income Source:</label><br>
                    <input type="text" class="form-control"[(ngModel)]="income.description" name="description" >
                </div>

                <br>

                <div class="form-group">
                    <label >Yearly Salary</label><br>
                    <input type="text" class="form-control"[(ngModel)]="income.amount" name="amount" >
                </div>

                <br>

                <div class="form-group">
                    <label >Frequency </label><br>
                    <input type="text" class="form-control"[(ngModel)]="income.frequency" name="frequency" >
                </div>

                <br>
                <br>
                <button class="btn btn-success" type="submit">Create</button>
            </form>
        </div>

    </div>
    <div class="card text-center m-auto" style="width: 345px">
        <div class="card-body">
            <form (ngSubmit) = "onSubmitExpense()" style="width: 300px" class="justify-content-center">
                <label> Create an Expense </label><br><br>
                <div class="form-group">
                    <label for="saveAmount">Expense name:</label><br>
                    <input type="text" class="form-control" id="saveAmount" [(ngModel)]="expense.expense_name" name="expense_name">
                </div>

                <br>

                <div class="form-group">
                    <label >Expense Amount:</label><br>
                    <input type="text" class="form-control"  [(ngModel)]="expense.amount" name="amount">
                </div>

                <br>

                <div class="form-group">
                    <label >Frequency:</label><br>
                    <input type="text" class="form-control" [(ngModel)]="expense.frequency" name="Frequency">
                </div>

                <br>
                <br>
                <button class="btn btn-success" type="submit">Create</button>
            </form>
        </div>

    </div>
    <div class="card text-center m-auto" style="width: 345px">
        <div class="card-body">
            <form (ngSubmit) = "onSubmitGoal()" style="width: 300px" class="justify-content-center">
                <label> Create a Goal </label><br><br>
                
                <div class="form-group">
                    <label for="title">Goal name:</label><br>
                    <input type="text" class="form-control" id="title" [(ngModel)]="goal.title" name="title">
                </div>
                <br>
                <div class="form-group">
                    <label for="remaining">Remaining (Income - Expense): <!--{{ remaining = income - expense }}--></label><br>
                    
                </div>
                <br>
                <div class="form-group">
                    <label for="saveAmount">Saved Amount:</label><br>
                    <input type="text" class="form-control" id="saveAmount" [(ngModel)]="goal.saveAmount" name="saveAmount">
                </div>
                <br>

                <div class="form-group">
                    <label for="goalAmount">Goal Amount:</label><br>
                    <input type="text" class="form-control" id="goalAmount" [(ngModel)]="goal.goalAmount" name="goalAmount">
                </div>

                <br>

                <div class="form-group">
                    <label for="time_in_months">Months to Goal:</label><br>
                    <input type="text" class="form-control" id="time_in_months" [(ngModel)]="goal.time_in_months" name="time_in_months">
                </div>

                <br>
                <br>
                <button class="btn btn-success" type="submit">Create</button>
            </form>
        </div>

    </div>

</div>
<br>
<br>


<mat-tab-group #tabs>

    <mat-tab label="Income" id="income">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th> Income Source</th>
                <th>  Amount</th>
                <th> frequency</th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let income of incomes" >
                <td> {{income.description}}</td>
                <td > {{income.amount}} </td>
                <td> {{income.frequency}}</td>
        
                <td>
                    <button (click) = "updateIncome(income.id)" title="Update Income" class = "btn btn-secondary" style="margin-left: 15px"> Update income </button>
                    <button (click) = "deleteIncome(income.id)" title="Delete income" class = "btn btn-danger" style="margin-left: 15px"> Delete income </button>
                    </td>

            </tr>

            </tbody>
            </table>
    </mat-tab>
   

    <mat-tab label="Expense" id="expense">
        
        <table class = "table table-striped">
            <thead>
            <tr>
                <th> Expense Name</th>
                <th> Expense Amount</th>
                <th> frequency</th>
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let expense of expenses" >
                <td> {{expense.expense_name}}</td>
                <td > {{expense.amount}} </td>
                <td> {{expense.frequency}}</td>
        
                <td>
                    <button (click) = "updateExpense(expense.id)" title="Update Expense" class = "btn btn-secondary" style="margin-left: 15px"> Update expense </button>
                    <button (click) = "deleteExpense(expense.id)" title="Delete expense" class = "btn btn-danger" style="margin-left: 15px"> Delete expense </button>
                    </td>

            </tr>

            </tbody>
            </table>
    </mat-tab>

    <mat-tab label="Goals" id="goal">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th> Goal</th>
                <th> Saved Amount</th>
                <th> Goal Amount</th>
                <th> Months to Goal</th>
                <th> Monthly Payment </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let goal of goals" >
                <td> {{goal.title}}</td>
                <td > {{goal.saveAmount}} </td>
                <td> {{goal.goalAmount}}</td>
                <td> {{goal.time_in_months}}</td>
                <td> {{  goal.monthlyPayment }} </td>
                <td>
                    <button (click) = "updateGoal(goal.id)" title="Update Goal" class = "btn btn-secondary" style="margin-left: 15px"> Update goal </button>
                    <button (click) = "deleteGoal(goal.id)" title="Delete goal" class = "btn btn-danger" style="margin-left: 15px"> Delete goal </button>
                    <button (click) = "goToGoalDetails(goal.id)" title="View Goal Details" class = "btn btn-primary" style="margin-left: 15px"> View Goal Details </button>
                </td>

            </tr>

            </tbody>
            <!-- Another Commment for Github -->
        </table>
    </mat-tab>
</mat-tab-group>

